#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: dashed cornflowerblue 3px;
}

li {
  list-style-type: none;
  display: inline-block;
  margin: 0 20px;
}

header {
  display: grid;
  border-bottom: solid black 1px;
  /* justify-content: center; */

  & ul {
    justify-self: center;
  }

  & .logo-container {
    justify-self: first baseline;
    border: 1px black solid;
  }
}

.overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
}

.show {
  visibility: visible;
}

.main-container {
  min-height: 75vh;
  overflow: hidden;
  /* height: 100vh; */
}

.cart-container {
  visibility: hidden;
}

footer {
  border-top: solid black 1px;
}