#root {
  max-width: 1380px;
  max-height: 91vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  border: solid black 1px;
  border-radius: 12px;
  box-shadow: black 10px 5px;
}

.overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  opacity: 0;

  background-color: rgba(0, 0, 0, 0.2);
  transition: all .4s ease;
}

.show {
  visibility: visible;
  backdrop-filter: blur(2px);
  opacity: 1;

  transition: opacity .5s ease;
}

.main-container {
  min-height: 75vh;
  overflow: hidden;
  padding-top: 8px;
}

.cart-container {
  visibility: hidden;
}

footer {
  border-top: solid black 1px;
  color: black;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding-top: 5px;
}